.card {
  display: flex;
  font-family: "Hanken Grotesk", sans-serif;
  color: rgba(227, 227, 227, 0.5);
  flex-direction: column;
}

.score-section {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.result {
  font-weight: 700;
  padding: 20px;
}

.number {
  border-radius: 50%;
  background-image: linear-gradient(
    hsla(241, 72%, 46%, 0),
    hsla(256, 72%, 46%, 1)
  );
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  place-self: center;
}

#seventy-six {
  font-weight: 800;
  color: white;
  font-size: 46px;
}

#hundred {
  font-weight: 500;
  font-size: 14px;
}

h2 {
  color: white;
}

p {
  margin: -10px 100px 40px 100px;
}

h3 {
  color: black;
}
